  <div class="container">
  	<div class="row">
   		<div class="col">
<p></p>
<h1>Contact Us!</h1>
  <address>
    <strong>Pennie's Pretties, Inc.</strong><br>
    123 Address<br>
    Twin Falls, ID 83301<br>
    <abbr title="Phone">P:</abbr> (123) 456-7890
  </address>

  <address>
    <strong>Email/strong><br></strong>
    <a href="mailto:penniekerr@gmail.com">penniekerr@gmail.com</a>
  </address>

</div>
</div>
</div>