  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fas fa-spa"></i> Twin Florals</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
 
          <li class="nav-item">
            <a class="nav-link" href="/products">Products</a>
          </li>
     
          <li class="nav-item">
            <a class="nav-link" href="/about/index">About</a>
          </li>
         <li class="nav-item">
            <a class="nav-link" href="/contact/index">Contact</a>
          </li>


        </ul>

        <%= form_tag products_url, :method => 'get', :class => "d-flex" do %>
    
          <%= text_field_tag :search, params[:search], :class => "form-control me-2" %>
          <%= submit_tag("Search", :class => "btn btn-outline-warning", :name => nil) %>
          <% end %>
    
      </div>
    </div>
  </nav>