<main>

          	
<%= render partial: 'masthead_carousel' %>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->



    <!-- START THE FEATURETTES -->

<%= render partial: 'featurettes' %>

<%= render partial: 'marketing' %>

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->




</main>