<main>

          	
<%= render partial: 'masthead_carousel' %>

<%= render partial: 'about' %>


<%= render partial: 'featurettes' %>

<%= render partial: 'products' %>


  </div><!-- /.container -->




</main>