// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.table-product-image {
	width: 100px;
	height: 100px;

}

.show-product-image {
	width: 750px;
	height: 750px;

}